In [1]:
#dependencies and set up
import pandas as pd
from pathlib import Path

In [2]:
#load csv into dataframe
countries_df = pd.read_csv("countries.csv")

#display data
countries_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [3]:
#Removing space after each country name
clean_df = countries_df.replace({'Country': {'United States ': 'United States', 'Canada ': 'Canada', 'France ': 'France', 'Germany ': 'Germany', 'Italy ': 'Italy', 'Japan ': 'Japan', 'United Kingdom ': 'United Kingdom'}})
#new_df = countries_df.replace({"Canada ", "Canada"})
#new_df = countries_df.replace({"France ", "France"})
#new_df = countries_df.replace({"Germany ", "Germany"})
#new_df = countries_df.replace({"Italy ", "Italy"})
#new_df = countries_df.replace({"Japan ", "Japan"})
#new_df = countries_df.replace({"United Kingdom ", "United Kingdom"})


clean_df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [4]:
countries = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

filtered_one_df = clean_df['Country'].isin(countries)

final_df = clean_df[filtered_one_df]

final_df 
#filtered_df =  countries_df.loc[(countries_df['Country'] == 'Canada ') | (countries_df['Country'] == 'France ') | 
                                 #(countries_df['Country'] == 'Germany ') | (countries_df['Country'] == 'Italy ') | 
                                 #(countries_df['Country'] == 'Japan ') | (countries_df['Country'] == 'United Kingdom ') | 
                                 #(countries_df['Country'] == 'United States '), :]

#filtered_df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
36,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0","552,2","4,96","0,02","95,02",NaN,"10,78","7,8","0,022","0,294","0,684"
69,France,WESTERN EUROPE,60876136,547030,"111,3","0,63","0,66","4,26",27600.0,"99,0","586,4","33,53","2,07","64,4",4,"11,99","9,14","0,022","0,214","0,764"
76,Germany,WESTERN EUROPE,82422299,357021,"230,9","0,67","2,18","4,16",27600.0,"99,0","667,9","33,85","0,59","65,56",3,"8,25","10,62","0,009","0,296","0,695"
101,Italy,WESTERN EUROPE,58133509,301230,"193,0","2,52","2,07","5,94",26700.0,"98,6","430,9","27,79","9,53","62,68",NaN,"8,72","10,4","0,021","0,291","0,688"
103,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0","461,2","12,19","0,96","86,85",3,"9,37","9,16","0,017","0,258","0,725"
213,United Kingdom,WESTERN EUROPE,60609153,244820,"247,6","5,08","2,19","5,16",27700.0,"99,0","543,5","23,46","0,21","76,33",3,"10,71","10,13","0,005","0,237","0,758"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"

In [5]:
# Load the CSV file into a Pandas DataFrame
aqi_data_df = pd.read_csv("AQI_data.csv")

# Display sample data
aqi_data_df

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16691,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16692,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16694,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

In [6]:
# Filter for countries(Canada, France, Germany, Italy, Japan, United Kingdom, United States)
countries = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

G7_AQI_Countries =  aqi_data_df[aqi_data_df['Country'].isin(countries)]

G7_AQI_Countries

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
11,France,Raismes,59,Moderate,1,Good,30,Good,4,Good,59,Moderate,50.3892,3.4858
12,Italy,Ramacca,55,Moderate,1,Good,47,Good,0,Good,55,Moderate,37.3833,14.7000
19,France,Pontarlier,56,Moderate,1,Good,35,Good,0,Good,56,Moderate,46.9061,6.3547
51,Italy,Guardiagrele,52,Moderate,2,Good,38,Good,7,Good,52,Moderate,42.2000,14.2167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16675,Germany,Rutesheim,50,Good,1,Good,28,Good,3,Good,50,Good,48.8097,8.9450
16677,Germany,Eberswalde,36,Good,0,Good,33,Good,1,Good,36,Good,52.8333,13.8333
16681,Japan,Takehara,54,Moderate,1,Good,46,Good,3,Good,54,Moderate,34.3333,132.9167
16683,Japan,Tatsuno,42,Good,1,Good,42,Good,0,Good,24,Good,35.9824,137.9876
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906

In [7]:
# Merge two DataFrames
merge_df = pd.merge(final_df, G7_AQI_Countries, on=["Country"])
merge_df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0",...,1,Good,20,Good,1,Good,10,Good,60.7029,-135.0691
1,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0",...,1,Good,27,Good,0,Good,55,Moderate,48.5500,-71.6500
2,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0",...,1,Good,27,Good,0,Good,55,Moderate,43.3799,-84.6556
3,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0",...,1,Good,21,Good,1,Good,13,Good,53.9169,-122.7494
4,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0",...,1,Good,28,Good,0,Good,12,Good,49.8353,-124.5247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3031,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0",...,1,Good,49,Good,3,Good,38,Good,33.5675,130.5111
3032,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0",...,1,Good,53,Moderate,2,Good,50,Good,33.7333,130.9833
3033,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0",...,1,Good,34,Good,1,Good,16,Good,33.3167,130.9333
3034,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0",...,1,Good,46,Good,3,Good,54,Moderate,34.3333,132.9167
3035,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0",...,1,Good,42,Good,0,Good,24,Good,35.9824,137.9876

In [8]:
#Average Ozone AQI Value for Each Country
merge_df.groupby('Country') ['Ozone AQI Value'].mean()

Country
Canada     26.527397
France     31.323789
Germany    35.496269
Italy      44.004619
Japan      39.720884
Name: Ozone AQI Value, dtype: float64

In [9]:
#Average NO2 AQI Value for Each Country
merge_df.groupby('Country') ['NO2 AQI Value'].mean()

Country
Canada     2.924658
France     2.594714
Germany    1.944030
Italy      2.312933
Japan      3.732932
Name: NO2 AQI Value, dtype: float64

In [10]:
#Average PM2.5 AQI Value
merge_df.groupby('Country') ['PM2.5 AQI Value'].mean()

Country
Canada     40.417808
France     50.257709
Germany    45.359142
Italy      56.168591
Japan      42.845382
Name: PM2.5 AQI Value, dtype: float64